{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "modules": true,
        "spread": true,
        "destructuring": true,
        "arrowFunctions": true,
        "blockBindings": true,
        "templateStrings": true
    },

    "rules": {
        "semi": 2,
        "quotes": [2, "single", "avoid-escape"],
        "no-unused-vars": 0
    },

    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true
    },

    "globals": {
        "expect": true
    }
}
